* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.text {
  font-size: 3rem;
  font-family: monospace;
}
.top-container {
  position: relative;
  padding-top: 100px;
  background-color: cornflowerblue;
  color: black;
  text-align: center;
}

.top-cloud {
  position: absolute;
  left: 250px;
  top: 300px;
}

.bottom-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.photo {
  height: 150px;
  border-radius: 50%;
}
